if (params.PHOENIX) { 
  process.executor = 'slurm'
    queueSize = 32
    withName: 'Basecall'{ 
        cpus = 16
        memory = 64.GB
        time = '2h'
        //clusterOptions = '--nodelist=phoenix[00-05]'
    }
    withName: 'Align_transcriptome'{ 
        cpus = 16
        memory = 64.GB
        time = '2h'
    }
    withName: 'Nanopolish_index'{ 
        cpus = 16
        memory = 64.GB
        time = '4h'
    }
    withName: 'Nanopolish_eventalign'{ 
        cpus = 8
        memory = 64.GB
        time = '4h'
    }
    withName: 'Xpore_dataprep'{ 
        cpus = 16
        memory = 64.GB
        time = '4h'
    }
    withName: 'Make_yaml'{ 
        cpus = 1
        memory = 2.GB
        time = '15m'
    }
    withName: 'Xpore'{ 
        cpus = 16
        memory = 64.GB
        time = '3h'
    }
    withName: 'M6anet_dataprep'{ 
        cpus = 16
        memory = 64.GB
        time = '3h'
    }
    withName: 'M6anet'{ 
        cpus = 16
        memory = 64.GB
        time = '3h'
    }
  singularity { 
    //enabled = true
    runOptions = "--bind $PWD"

  }
process {
  withLabel: with_cpus {
        cpus = 1
        memory = '7G'
        containerOptions = '--nv'
  }
  withLabel: with_gpus {
      containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
      ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
  } 
}

} else { 
process {
  withLabel: with_cpus {
        cpus = 1
        memory = '7G'
  }
  withLabel: with_gpus {
      maxForks = 1
      containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
      ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
  } 
}

  singularity {
    //enabled = true
    runOptions = '--nv'
    singularity.autoMounts = true
  }
}